$white: #fff;
$gray: #505280;
$link-color:  #2804ff;
$bgcolor:  #ff7c15;

$main-font: 'Allerta Stencil', sans-serif;
$main-size: 16px;

body {
  font-family: $main-font;
  font-size: $main-size;
  background: $bgcolor;
  color: $white;
}
.container {
  margin:0 auto;
  padding: 15px 20px;
  width: 1220px;
  max-width: 100%;
}
.content {
  display: flex;
  background: rgba(0,0,0,0.2);
}
article {
  width: 75%;
}
.sidebar {
  background: $white;
  width: 25%;
}
.sidebar__li {
  margin-bottom: 15px;
}
.item {
  margin-bottom: 10px;
  border: 1px solid $gray;
  padding: 15px;
  a {
    color: $link-color;
  }
}
.nav__ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  .nav__li {
    display: block;
  }

}
.header {
  .nav {
    width: 1220px;
    max-width: 100%;
  }
}

.main__title {
  text-align: center;
  font-size: $main-size * 3;
}
